/* -------------------------------- 

Reset/Body/General style

-------------------------------- */
body, html { height: 100%; font-size: 100%; padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: $body-color;
}

/* -------------------------------- 

Scroll Bar style

-------------------------------- */
::-webkit-scrollbar {
  background: white;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  -webkit-border-radius: 6px;
}

::selection {
  background-color: white;
  color: #111;
}

::-moz-selection {
  background-color: white;
  color: #111;
}
.uppercase {
    text-transform: uppercase !important;
}
.special {
    width: 243px;
}
.bg-grey {
    background-color: #FAFAFA;
}


// Link Styles
a {
    color: $cool_blue;
    line-height: inherit;
    text-decoration: none;

    &:hover, &:focus {
        color: $dark_blue; 
        text-decoration: none;
    }

    img {
        border: none; 
    }
}

// Positioning
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.donate-button {
    padding: 1em 0;
}

.social {
    margin-bottom: 50px;

    li {
        display: inline-block;
        position: relative;

        a {
            margin-left: 1em;
        }
    }
}

img {
    max-width: 100%;
    height: auto; 
    -ms-interpolation-mode: bicubic;
}

// Container override
.container {
    // width: 78.750rem;
}

// List Styles
ul,
ol,
dl {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25em; 
    font-weight: 300;
}

// Unordered Lists
ul {
    padding: 0;
    list-style-type: none;

    &.no-bullet {
        margin-left: 0; 

        li ul,
        li ol {
            margin-left: 1.25em;
            margin-bottom: 0;
            list-style: none; 
        }
    }

    &.square {
        list-style-type: square !important;
        margin-left: 1.1em; 
    }
    &.circle {
        list-style-type: circle !important;
        margin-left: 1.1em; 
    }
    &.disc {
        list-style-type: disc !important;
        margin-left: 1.1em; 
    }
    &.no-bullet {
        list-style: none; 
    }
}

li {
    list-style: none;
}

ul li ul,
ul li ol {
    margin-left: 1.25em;
    margin-bottom: 0; 
}
ul.square li ul, ul.circle li ul, ul.disc li ul {
    list-style: inherit; 
}

// Ordered Lists
ol {
  margin-left: 1.4rem; }
  ol li ul,
  ol li ol {
    margin-left: 1.25rem;
    margin-bottom: 0; }

/* Definition Lists */
dl dt {
    margin-bottom: 0.3rem;
    font-weight: 400; 
    line-height: 2em;

}
dl dd {
    margin-bottom: 0.75rem; 
    line-height: 2em;
}
.proj dl {
    line-height: 2em !important;
}
.proj dd, .proj dt {
    display: block;
    float: left;
    margin-bottom: 0px;
}
.proj dt {
    clear: both;
    color: #bdbdbd;
    margin-right: 8px;
}
.proj dd {
    margin-left: 0;
}
.proj .slide-link {
    margin-bottom: 0;
}
.main-container {
    width: 100%;
    display: block;
}
.proj-container {
    width: 1260px;
    margin: 0 auto;
    display: block;
}

.no-pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.spaces {
    padding: 80px 0;
}

hr {
    border: solid #e1e1e1;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 1.25rem 0 1.1875rem; 
}

/* Blockquotes */
blockquote {
    margin: 0 0 1.25em;
    padding: 0.5625em 1.25em 0 1.1875em;
    border-left: 3px solid #2985f4;
    line-height: 1.6;
    font-weight: 300; 

    p {
        line-height: 1.6;
        font-weight: 300; 
    }

    cite {
        display: block;
        font-size: 0.8125em;
        color: #b0b0b0; 

        &:before {
            content: "\2014 \0020"; 
        }

        a, a:visited {
            color: #555555; 
        }
    }
}

.breadcrumbs {
    border-style: solid;
    border-width: 1px;
    display: block;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    padding: 0.25em 1em;
    background-color: #f1f1f1;
    border-color: #e1e1e1;
    border-radius: 3px; 
}
.breadcrumbs > * {
    color: #e1e1e1;
    float: left;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}
.breadcrumbs > *:hover a, 
.breadcrumbs > *:focus a {
    text-decoration: underline;
}
.breadcrumbs > * a {
    color: #b0b0b0; 
}
.breadcrumbs > *.active {
      color: #333333;
      cursor: default; 
}
.breadcrumbs > *.active a {
      color: #2985f4;
      cursor: default; 
}
.breadcrumbs > *:before {
    color: #b0b0b0;
    content: "/";
    margin: 0 1em;
    position: relative;
    top: 1px; 
}
.breadcrumbs > *:first-child:before {
    content: " ";
    margin: 0; 
}
.panel {
    background-color: #ffffff;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    margin-bottom: 1.25em;
    padding: 1.25em;
    z-index: 10;
}
.i-list {
    list-style: none;
    margin-left: -1.1em;
    margin-right: 0;
    margin: 0 auto 1.0625em auto;
    overflow: hidden;
    padding: 0; 
}
.i-list > li {
    display: block;
    float: left;
    list-style: none;
    margin-left: 1.375em; 
}
.i-list > li > * {
    display: block; 
}
.small-label {
    display: inline-block;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.25em 0.5em 0.25em;
    font-size: 12px;
    background-color: #2985f4;
    color: #fff; 
}
.small-label.radius {
    border-radius: 3px;
}
.small-label.round {
    border-radius: 1000px; 
}
.small-label.alert {
    background-color: #f44336;
    color: #fff; 
}
.small-label.warning {
    background-color: #ff9800;
    color: #fff; 
}
.small-label.success {
    background-color: #00c853;
    color: #fff; 
}
.small-label.secondary {
    background-color: #f1f1f1;
    color: #333333; 
}
.small-label.info {
    background-color: #a0d3e8;
    color: #333333; 
}
ul.page-num {
    display: block;
    margin-left: -0.3125em;
    min-height: 1.5em; 
}
ul.page-num li {
    color: #b0b0b0;
    font-size: 0.875em;
    height: 1.5em;
    margin-left: 0.3125em; 
}
ul.page-num li a, ul.page-num li button {
    border-radius: 3px;
    transition: background-color 300ms ease-out;
    background: none;
    color: #b0b0b0;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: inherit;
    padding: 0.0625em 0.625em 0.0625em; 
}
ul.page-num li:hover a,
ul.page-num li a:focus, ul.page-num li:hover button,
ul.page-num li button:focus {
    background: #f1f1f1; 
}
ul.page-num li.unavailable a, 
ul.page-num li.unavailable button {
    cursor: default;
    color: #999999; 
}
ul.page-num li.unavailable:hover a, 
ul.page-num li.unavailable a:focus, 
ul.page-num li.unavailable:hover button, 
ul.page-num li.unavailable button:focus {
    background: transparent; 
}
ul.page-num li.active a, 
ul.page-num li.active button {
    background: #2985f4;
    color: #fff;
    cursor: default;
    font-weight: bold; 
}
ul.page-num li.active a:hover, 
ul.page-num li.active a:focus, 
ul.page-num li.active button:hover, 
ul.page-num li.active button:focus {
    background: #2985f4; 
}
ul.page-num li {
    display: block;
    float: left; 
}
.sub-nav {
    display: block;
    margin: -0.25em 0 1.125em;
    overflow: hidden;
    width: auto; 
    background-color: #f1f1f1;
    padding: 10px 10px 10px 0;
}
.sub-nav dt {
    text-transform: uppercase; 
}
.sub-nav dt,
.sub-nav dd,
.sub-nav li {
    color: #b0b0b0;
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin-left: 1em;
    margin-bottom: 0; 
}
.sub-nav dt a,
.sub-nav dd a,
.sub-nav li a {
    color: #b0b0b0;
    padding: 0.1875em 1em;
    text-decoration: none; 
}
.sub-nav dt a:hover,
.sub-nav dd a:hover,
.sub-nav li a:hover {
    color: #737373; 
}
.sub-nav dt.active a,
.sub-nav dd.active a,
.sub-nav li.active a {
    border-radius: 3px;
    background: #2985f4;
    color: #fff;
    cursor: default;
    font-weight: normal;
    padding: 0.1875em 1em; 
}
.sub-nav dt.active a:hover,
.sub-nav dd.active a:hover,
.sub-nav li.active a:hover {
    background: #2270cf; 
}

/* -------------------------------- 

Side Nav

-------------------------------- */
aside {
    border: medium none !important;
}
aside.side-nav {
    margin-top: 15px;
}
aside.side-nav .side-nav-inner {
    background-color: #f1f1f1;
}
aside.side-nav .side-nav-inner h3 {
    border-bottom: 1px solid #e1e1e1;
    border-left: 5px solid #e1e1e1;
    color: #2985f4;
    font-weight: 300;
    line-height: 1.4;
    padding: 10px 20px;
    margin: 0;
}
aside.side-nav .side-nav-inner ul li {
}
aside.side-nav .side-nav-inner ul li a {
    border-left: 5px solid #e1e1e1;
    color: #b0b0b0;
    display: block;
    font-size: 12px;
    line-height: 24px;
    padding: 10px 20px;
    text-decoration: none;
    border-bottom: 1px solid #e1e1e1;
}
aside.side-nav .side-nav-inner ul li a.active {
    background-color: #ebebeb;
    border-left: 5px solid #2985f4;
}
aside.side-nav .side-nav-inner ul li a:hover {
    background-color: #ebebeb;
    border-left: 5px solid #2985f4;
}

/* -------------------------------- 

Forms

-------------------------------- */
.form {
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
}
.form::after {
    clear: both;
    content: "";
    display: table;
}
.form fieldset {
    margin: 24px 0;
    border: 0 none;
}
.form legend {
    border-bottom: 1px solid #e1e1e1;
    color: #2985f4;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.form div {
    margin: 20px 0;
    position: relative;
}
.form .label {
    color: #b0b0b0;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}
.form .label {
    display: block;
}
.form input, .form textarea, .form select, .form label {
    box-sizing: border-box;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
.form input[type="text"], .form input[type="email"], .form input[type="tel"], .form textarea, .form select, .form legend {
    -moz-appearance: none;
    display: block;
    width: 100%;
}
.form input[type="text"], .form input[type="email"], .form input[type="tel"], .form textarea, .form select {
    background-color: #ffffff;
    border: 1px solid #c7c6c7;
    border-radius: 0.25em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
    padding: 12px;
}
.form input[type="text"]:focus, .form input[type="email"]:focus, .form input[type="tel"]:focus, .form textarea:focus, .form select:focus {
    border-color: #2985f4;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
    outline: medium none;
}
.form .select {
    position: relative;
}
.form .select::after {
    background: url("../img/kitchen/arrow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 16px;
    margin-top: -8px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 50%;
    width: 16px;
    z-index: 1;
}
.form select {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
.form .form-list {
    margin-top: 16px;
}
.form .form-list::after {
    clear: both;
    content: "";
    display: table;
}
.form .form-list li {
    -moz-user-select: none;
    display: inline-block;
    float: left;
    margin: 0 26px 16px 0;
    position: relative;
    width: 200px;
}
.form input[type="radio"] {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.form input[type="radio"] + label {
    line-height: 32px;
    padding-left: 50px;
}
.form textarea {
    min-height: 200px;
    overflow: auto;
    resize: vertical;
}
.form input[type="submit"] {
    -moz-appearance: none;
    -moz-osx-font-smoothing: grayscale;
    background: none repeat scroll 0 0 #2985f4;
    border: medium none;
    border-radius: 18px;
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-weight: normal;
    padding: 6px 24px;
}
.form input[type="submit"]:focus {
    outline: medium none;
}
.form input[type="submit"]:active {
    transform: scale(0.9);
}
.form [required] {
    background: url("../img/kitchen/required.png") no-repeat scroll right top rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 600px) {
.form div {
    margin: 32px 0;
}
.form legend + div {
    margin-top: 20px;
}
.form input[type="text"], .form input[type="email"], .form input[type="tel"], .form textarea, .form select {
    padding: 16px;
}
}
.form-icons {
    display: inline-block;
    height: 32px;
    margin-left: 25px;
}
.form .chrome {
    background: rgba(0, 0, 0, 0) url("../img/kitchen/chrome.png") no-repeat scroll 0 0;
}
.form .explorer {
    background: rgba(0, 0, 0, 0) url("../img/kitchen/explorer.png") no-repeat scroll 0 0;
}
.form .firefox {
    background: rgba(0, 0, 0, 0) url("../img/kitchen/firefox.png") no-repeat scroll 0 0;
}
.form .safari {
    background: rgba(0, 0, 0, 0) url("../img/kitchen/safari.png") no-repeat scroll 0 0;
}
.form .opera {
    background: rgba(0, 0, 0, 0) url("../img/kitchen/opera.png") no-repeat scroll 0 0;
}
/* -------------------------------- 

Accordion style

-------------------------------- */
.group .title {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    margin: 1em 0;
}
.group .title h3 {
    color: #b0b0b0;
    font-size: 14px;
    text-transform: uppercase;
}
.group > li {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    margin-bottom: 6px;
    transition: box-shadow 0.2s ease 0s;
}
@media only screen and (min-width: 768px) {
.group > li {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    margin-bottom: 6px;
    transition: box-shadow 0.2s ease 0s;
}
.no-touch .group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
}
.group:first-child .title {
    margin-top: 0;
}
}
.trigger::after, .trigger::before {
    content: "";
}
a.trigger {
    color: #2985f4 !important;
    font-size: 14px;
}
.trigger {
    display: block;
    line-height: 1.2;
    margin: 1.6em 0 0.4em;
    position: relative;
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
.trigger {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
}
.trigger::before, .trigger::after {
    backface-visibility: hidden;
    background: none repeat scroll 0 0 #2985f4;
    height: 2px;
    position: absolute;
    right: 24px;
    top: 50%;
    transition-duration: 0.2s;
    transition-property: transform;
    width: 13px;
}
.trigger::before {
    right: 32px;
    transform: rotate(45deg);
}
.trigger::after {
    transform: rotate(-45deg);
}
.content-visible .trigger::before {
    transform: rotate(-45deg);
}
.content-visible .trigger::after {
    transform: rotate(45deg);
}
}
.content p {
    color: #424242;
    font-size: 16px !important;
    line-height: 32px !important;
}
.content a {
    color: #0855bd !important;
}
.content {
    display: none;
}
@media only screen and (min-width: 768px) {
    .content {
        display: none;
        padding: 0 24px 30px;
    }
    .content p {
        line-height: 1.6;
    }
}

/* -------------------------------- 

Link/Button style

-------------------------------- */
.text-link {
  color: #2985f4;
}

.slide-link {
  color: #2985f4;
  float: left;
  margin-bottom: 30px;
  font-size: 1em;
    font-weight: 300;
    line-height: 2em;
    color: #2985f4;
    position: relative;
}

.slide-link:hover {
  color: #2985f4;
}

.slide-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2985f4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.slide-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}

button, .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #2985f4;
    border-color: #2270cf;
    color: #FFFFFF;
    transition: background-color 300ms ease-out; 
}
button, .button:nth-child(2n) {
    margin-left: 1.5em;
}
button:hover, 
button:focus, 
.button:hover, 
.button:focus {
    background-color: #2270cf; 
}
button:hover, 
button:focus, 
.button:hover, 
.button:focus {
    color: #FFFFFF; 
}
button.round, 
.button.round {
    border-radius: 1000px; 
}
button.outline, 
.button.outline {
    background-color: transparent;
    color: #2985f4;
    border: solid #2985f4 2px;
    box-sizing: border-box;
}
button.outline:hover, 
.button.outline:hover,
button.outline:focus, 
.button.outline:focus {
    background-color: transparent;
    color: #b6b6b6;
    border: solid #b6b6b6 2px;
    box-sizing: border-box;
}

/* -------------------------------- 

Grid Folio Homepage/Projects style

-------------------------------- */

.gallery-grid {
  margin:0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
}
ul.gallery-grid:after {
    clear: both; 
}

.gallery-grid li {
  position: relative;
  float: left;
  overflow: hidden;
  width: 25%; /* Fallback */
  width: -webkit-calc(100% / 2);
  width: -moz-calc(100% / 2);
  width: -ms-calc(100% / 2);
  width: calc(100% / 2);
}
.gallery-grid li,
.gallery-grid li img {
  display: block;
  /*width: 100%;*/
  /*cursor: pointer;*/
}
.gallery-grid li img {
  max-width: 100%;
}


.grid {
  margin:0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
}

.grid-sizer {
    width: 50%;
}

.text-table {
    display: table;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.intro-middle {
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px;
}

.intro-middle h1 {
/*  text-transform: uppercase;
  font-size: 14px;
    font-weight: 400 !important;
    line-height: 32px;*/
    color: #2985f4 !important;
    letter-spacing: 1px;
}

.intro-text {
    height: 350px;
    background: #fff;
}

.intro-text p {
    margin: 25px 0 0;
    line-height: 30px;
    font-size: 16px;
    /*color: #94a4a5;*/
}

#container {
    overflow: hidden;
    -webkit-perspective: 2000px;
    -ms-perspective: 2000px;
    -o-perspective: 2000px;
    perspective: 2000px;
    position: relative;
}

/*.work-item:not(.home-text) {
    background: #333;
}*/

.work-item .intro-text h3 {
  text-transform: uppercase;
  font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    color: #2985f4;
    letter-spacing: 3px;
}

.work-item {
  width: 50%;
    float: left;
    position: relative;
    overflow: hidden;
}

.work-item .work-header {
  left: 50px;
    position: absolute;
    top: 50px;
    z-index: 2;
}

.work-item h3 {
  color: #fff;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}

.work-item .work-header > span {
  color: #fff;
    display: block;
    font-size: 13px;
    letter-spacing: 0.05em;
}

.work-item span {
    opacity: 0.7;
}

.work-item .work-project div {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.work-item .work-footer {
    -webkit-transition: opacity 0.35s,  -webkit-transform 0.40s;
    transition: opacity 0.35s,  transform 0.40s;
    opacity: 0;
    -webkit-transform: translate3d(-80px,  0,  0);
    -ms-transform: translate3d(-80px,  0,  0);
    transform: translate3d(-80px,  0,  0);
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 1;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
}
.work-item .work-footer .award {
    background-image: url(../images/award.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    padding-top: 10px;
    text-transform: uppercase;
}
.work-item:hover .work-footer {
    opacity: 1;
    -webkit-transform: translate3d(0px,  0,  0);
    -ms-transform: translate3d(0px,  0,  0);
    transform: translate3d(0px,  0,  0);
}
.work-footer.first:hover .work-header {
    -webkit-transform: translate3d(0px,  -15px,  0);
    -ms-transform: translate3d(0px,  -15px,  0);
    transform: translate3d(0px,  -15px,  0);
}
.work-item.first:hover .work-header span {
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    opacity: 0;
}

.work-item a:before {
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.5) 90%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0px, 50%, 0px);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    width: 100%;
    z-index: 1;
}

.work-project {
    display: block;
    height: 100%;
    position: relative;
}

.work-item .work-project a {
    height: 100%;
    display: block;
}
.work-item .work-project a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-linear-gradient(top,  rgba(51, 51, 51, 0) 0%,  rgba(51, 51, 51, 0.5) 90%);
    background: -webkit-gradient(linear,  left top,  left bottom,  from(rgba(51, 51, 51, 0)),  color-stop(90%,  rgba(51, 51, 51, 0.5)));
    background: linear-gradient(to bottom,  rgba(51, 51, 51, 0) 0%,  rgba(51, 51, 51, 0.5) 90%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,  50%,  0);
    -ms-transform: translate3d(0,  50%,  0);
    transform: translate3d(0,  50%,  0);
    -webkit-transition: opacity 0.35s,  -webkit-transform 0.35s;
    transition: opacity 0.35s,  transform 0.35s;
}
.work-item .work-project a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-linear-gradient(to bottom,  rgba(51, 51, 51, 0.5) 0%,  rgba(51, 51, 51, 0) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom,  from(rgba(51, 51, 51, 0.5)),  to(rgba(51, 51, 51, 0)));
    background: -webkit-linear-gradient(top,  rgba(51, 51, 51, 0.5) 0%,  rgba(51, 51, 51, 0) 100%);
    background: linear-gradient(to bottom,  rgba(51, 51, 51, 0.5) 0%,  rgba(51, 51, 51, 0) 100%);
    content: '';
    -webkit-transition: opacity 0.35s,  -webkit-transform 0.35s;
    transition: opacity 0.35s,  transform 0.35s;
}
.work-item .work-project a>div {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    -webkit-transition: opacity 0.35s,  -webkit-transform 0.35s;
    transition: opacity 0.35s,  transform 0.35s;
    -webkit-transform: translate3d(-50px,  0,  0);
    -ms-transform: translate3d(-50px,  0,  0);
    transform: translate3d(-50px,  0,  0);
    background-repeat:no-repeat;
        background-position:50% 50%;
        background-position:50% 50%\9 !important;
}
@media only screen and (max-width: 480px) {
    .work-item .work-project a>div {
        width: 100% !important;
        -webkit-transform: translate3d(0px,  0,  0);
        -ms-transform: translate3d(0px,  0,  0);
        transform: translate3d(0px,  0,  0);
    }
}
.work-item:hover .work-project a::before {
    opacity: 1;
    -webkit-transform: translate3d(0px,  0,  0);
    -ms-transform: translate3d(0px,  0,  0);
    transform: translate3d(0px,  0,  0);
}
.work-item:hover .work-project a::after {
    opacity: 0;
    -webkit-transform: translate3d(0px,  -50px,  0);
    -ms-transform: translate3d(0px,  -50px,  0);
    transform: translate3d(0px,  -50px,  0);
}
.work-item:hover .work-project>a>div {
    -webkit-transform: translate3d(0px,  0,  0);
    -ms-transform: translate3d(0px,  0,  0);
    transform: translate3d(0px,  0,  0);
}

.grid li {
  position: relative;
  float: left;
  overflow: hidden;
  width: 16.6666667%; /* Fallback */
  width: -webkit-calc(100% / 2);
  width: -moz-calc(100% / 2);
  width: -ms-calc(100% / 2);
  width: calc(100% / 2);

}

.grid li a,
.grid li a img {
  display: block;
  width: 100%;
  cursor: pointer;
}

.grid li a img {
  max-width: 100%;
}

/*.grid li a img:hover{
  transform: scale(1.1);
}*/

.grid li a div {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding:30px;
/*  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;*/
  /*background-color: #181818;*/
/*  background: rgba(255, 255, 255, 0.9);*/
  background-color: #ffffff;
/*  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;*/
/*  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
    align-items: center;*/
    /*text-align: center;*/
    opacity: 0;
}
.grid li a:hover div {
  /*opacity: 0.9;*/
  opacity: 1;
  transition: all 0.5s ease 0.1s;
  /*transform: scale(1.1);*/
}

.grid li a div h3 {
  /*width: 100%;*/
  color: #fff;
  /*color: #2c3e50;*/
  /*text-transform: uppercase;*/
  font-size: 1.4em;
  letter-spacing: 2px;
  /*padding: 30px 20px;*/
}
.grid li a div p {
  /*color: #2c3e50;*/
  color: #fff;
  line-height: 24px;
}

/* -------------------------------- 

Project Pages style

-------------------------------- */

.arrow-down {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid #000000;
}

.project-container {
  margin: 0;
  padding: 0;
  display: block;
}

.project-container img {
  width: 100%;
  display: block;
}

.project-container-fitpotato {
  background:#2c3e50;
}

.info-container {
  padding-top: 75px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 75px;
  margin: 0 auto;
  max-width: 850px;
}

.info-container-img {
  padding-top: 75px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 75px;
  margin: 0 auto;
  max-width: 850px;
}

.info-container h2 {
  text-transform: uppercase;
  /*font-family: Georgia, serif;*/
  margin-bottom: 30px;
  font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    color: #2985f4;
}

.info-container p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.about-intro {
  margin-bottom: 20px;
  font-size: 20px !important;
    font-weight: 200;
    line-height: 32px !important;
}

.project-caption {
  padding-top: 75px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 75px;
  margin: 0 auto;
  max-width: 850px;
}

.project-caption p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #94a4a5;
}

.project-caption h2 {
  text-transform: uppercase;
  /*font-family: Georgia, serif;*/
  margin-bottom: 30px;
  font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    color: #2985f4;
}

.banner {
  line-height: 0;
}

.banner img {
  width: 100%;
  position: relative;
}

.banner-content {
  color: #ffffff;
  background-color: #2c3e50;
  position: absolute;
  top: 25%; 
    left: 0; 
    max-width: 40%; 
    padding: 30px;
    margin-left: 10%;
    line-height: 30px;
}

.banner-content h1 {
  text-transform: uppercase;
}

.project-nav {
  margin-top:100px;
  margin-bottom: 100px;
  text-align: center;
}
.projects {
  text-align: center;
  
}
.projects img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.email-ipad {
  max-width: 700px;
  margin: 0 auto;
}

.email-centered {
  max-width: 600px;
  margin: 0 auto;
}

.pic {
  width: 15% !important;
  border-radius: 50%;
  border: 2px solid #27AE60;
  float: left;
  margin: 15px !important;
}


.inner {
  max-width: 1423px;
  /*margin: 0 auto;*/
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.download img {
  width: 300px;
}
a:hover .link {
  opacity: 0.3;
}

.png-new { 
  display: none;
}
/* =====  feature  ===== */
section.feature .feature {
    height: 525px;
    position: relative;
    transition: opacity 1s ease 0s;
}
section.feature {
    background-color: #f1f1f1;
}
section.feature .feature-container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
}
section.feature .feature .feature-container .feature-description {
    display: table;
    height: 100%;
    padding: 0 2.5em 0 0;
    vertical-align: middle;
}
section.feature .feature .feature-container .feature-description .feature-content {
    display: table-cell;
    font-size: 14px;
    line-height: 25px;
    vertical-align: middle;
}
section.feature .feature .feature-img-container {
    left: 33.33333%;
    /*margin-left: -95px;*/
    right: 0;
}
section.feature .feature .feature-img-container .feature-img {
    background: none no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    height: 100%;
    transition: all 0.3s ease 0s;
    width: 100%;
}
section.feature .feature .feature-img-container {
    background: none no-repeat scroll 50% 50% / cover #d9d9d9;
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
}
section.feature .feature .feature-img-container .feature-img:hover {
    transform: scale(1.1);
}
section.feature .feature.image-left .feature-description {
    float: right;
    padding-left: 2.5em;
}
section.feature .feature.image-left .feature-img-container {
    left: 0;
    /*margin-right: -95px;*/
    right: 33.33333%;
}
.grid-width {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    max-width: 374px;
}

.middle-info{
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 75px;
  padding-bottom: 75px;

}

.middle-info h3 {
  margin-bottom:0;
}

.icon-home {
  width: 33.33333%;
  float:left;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-home p {
  font-size: 14px;
  margin-top: 0;
  line-height: 24px;
}

.home-img {
  height:50%;
  width: 25%;
  margin: 15px;
  float:left;
}
.small-info {
  margin-top: 15px;
}

/*==============  preloader  ==============*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    height: 100%;
    z-index: 10000;
    margin: 0;
}
#preloader_image{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
  margin-left: -32px;
}

#preloader {
  -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}


.down-arrow-btn {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    border-radius: 50%;
    display: block;
    height: 50px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: -25px;
    width: 50px;
}
.center-button{
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  position: absolute;
}
.down-arrow-btn:hover, .down-arrow-btn:focus {
    background: none repeat scroll 0 0 rgba(236, 240, 241,1.0);
    color: #fff;
    transition: all 0.5s ease 0.1s;
  transform: scale(1.1);
}
.arrow-work:before {
  transform: rotate(-45deg) translateX(1px);
    -webkit-transform: rotate(-45deg) translateX(1px);
  -moz-transform: rotate(-45deg) translateX(1px);
  -ms-transform: rotate(-45deg) translateX(1px);
  -o-transform: rotate(-45deg) translateX(1px);
}
.arrow-work:before, .arrow-work:after {
    background-color: #34495e;
    content: "";
    display: block;
    height: 12px;
    margin:0 auto;
    width: 3px;
}
.arrow-work:after {
    transform: rotate(45deg) translateX(-4px) translateY(-5px);
    -webkit-transform: rotate(45deg) translateX(-4px) translateY(-5px);
  -moz-transform: rotate(45deg) translateX(-4px) translateY(-5px);
  -ms-transform: rotate(45deg) translateX(-4px) translateY(-5px);
  -o-transform: rotate(45deg) translateX(-4px) translateY(-5px);
}
.arrow-work {
    display: block;
    position: relative;
    trasform:rotate(90deg);
    -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  padding-top:6px;
  padding-left: 20px;
}

/* -------------------------------- 

Animations

-------------------------------- */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes bounce {
0%, 100%, 20%, 50%, 80% {
    transform: translateX(0px);
}
40% {
    transform: translateX(-30px);
}
60% {
    transform: translateX(-15px);
}
}
.bounce {
    animation-name: bounce;
}
@-webkit-keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}
.fadeInDown {
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
}


.grid-arrow:before {
  transform: rotate(-45deg) translateX(1px);
    -webkit-transform: rotate(-45deg) translateX(1px);
  -moz-transform: rotate(-45deg) translateX(1px);
  -ms-transform: rotate(-45deg) translateX(1px);
  -o-transform: rotate(-45deg) translateX(1px);
}
.grid-arrow:before, .grid-arrow:after {
    /*background-color: #34495e;*/
    background-color: #fff;
    content: "";
    display: block;
    height: 12px;
    margin:0 auto;
    width: 3px;
}
.grid-arrow:after {
    transform: rotate(45deg) translateX(-4px) translateY(-5px);
    -webkit-transform: rotate(45deg) translateX(-4px) translateY(-5px);
  -moz-transform: rotate(45deg) translateX(-4px) translateY(-5px);
  -ms-transform: rotate(45deg) translateX(-4px) translateY(-5px);
  -o-transform: rotate(45deg) translateX(-4px) translateY(-5px);
}
.grid-arrow {
    display: block;
    position: absolute;
  padding: 30px 50px;
  bottom: 0;
  right: 0;
}


@keyframes fadeInDown {
    0% {opacity: 0;transform: translateY(-30px);}
    40% {opacity: 0;transform: translateY(-30px);}
    100% {opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeInDown {
    0% {opacity: 0;-webkit-transform: translateY(-30px);}
    40% {opacity: 0;-webkit-transform: translateY(-30px);}
    100% {opacity: 1;-webkit-transform: translateY(0);}
}
.fadeInDown2 {
    animation-name: fadeInDown2;
    -webkit-animation-name: fadeInDown2;
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
}
@keyframes fadeInDown2 {
    0% {opacity: 0;transform: translateY(-30px);}
    50% {opacity: 0;transform: translateY(-30px);}
    100% {opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeInDown2 {
    0% {opacity: 0;-webkit-transform: translateY(-30px);}
    50% {opacity: 0;-webkit-transform: translateY(-30px);}
    100% {opacity: 1;-webkit-transform: translateY(0);}
}
.fadeInDown3 {
    animation-name: fadeInDown3;
    -webkit-animation-name: fadeInDown3;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}
@keyframes fadeInDown3 {
    0% {opacity: 0;transform: translateY(-30px);}
    60% {opacity: 0;transform: translateY(-30px);}
    100% {opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeInDown3 {
    0% {opacity: 0;-webkit-transform: translateY(-30px);}
    60% {opacity: 0;-webkit-transform: translateY(-30px);}
    100% {opacity: 1;-webkit-transform: translateY(0);}
}
.fadeInDown4 {
    animation-name: fadeInDown4;
    -webkit-animation-name: fadeInDown4;
    animation-duration: 2.4s;
    -webkit-animation-duration: 2.4s;
}
@keyframes fadeInDown4 {
    0% {opacity: 0;transform: translateY(-30px);}
    66% {opacity: 0;transform: translateY(-30px);}
    100% {opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeInDown4 {
    0% {opacity: 0;-webkit-transform: translateY(-30px);}
    66% {opacity: 0;-webkit-transform: translateY(-30px);}
    100% {opacity: 1;-webkit-transform: translateY(0);}
}

#googleMap iframe {
   width: 100%;
}
#googleMap {
   height: 350px;
}
#googleMap img { max-width: none; }

.slider-content{
  color: #ffffff;
  background-color: none;
  position: absolute;
  top: 5%; 
    width: 100%; 
    margin-left: 5%;
    line-height:15px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
.slider-content h2{
  text-transform: uppercase;
  line-height: 1em;
  font-size: 1em;
  margin: 5px 0px;
}
.slider-content h5{
  font-size: .7em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button-slide{
  float: left;
  font-size: .5em;
  padding: 10px 15px 10px 15px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #ffffff;
/*  border-radius: 20px;*/
  margin-right: 10px;
  margin-top: 4px;
}
.button-slide:hover{
    padding: 10px 15px 10px 15px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #34495e;
    cursor: pointer;
    margin-top: 4px;
}

.header-container {
    display: block;
    position: relative;
    margin: 0 auto;
}

.header-link {
    position: absolute;
    bottom: 25px;
    right: 50px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 32px;
}

.header-link:hover {
    color: #fff;
}

.header-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
}

/* hero image */


/*@-webkit-keyframes hero-down-anim {
  0%{ top: -7px; }
  50%{ top: 3px; }
  100%{ top: -7px; }
}
@-moz-keyframes hero-down-anim {
  0%{ top: -7px; }
  50%{ top: 3px; }
  100%{ top: -7px; }
}
@-o-keyframes hero-down-anim {
  0%{ top: -7px; }
  50%{ top: 3px; }
  100%{ top: -7px; }
}
@keyframes hero-down-anim {
  0%{ top: -7px; }
  50%{ top: 3px; }
  100%{ top: -7px; }
}*/

.hero-arrow:before {
    transform: rotate(-45deg) translateX(1px);
    -webkit-transform: rotate(-45deg) translateX(1px);
    -moz-transform: rotate(-45deg) translateX(1px);
    -ms-transform: rotate(-45deg) translateX(1px);
    -o-transform: rotate(-45deg) translateX(1px);
}

.hero-arrow:before, .hero-arrow:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 50px;
    margin-left: 3px;
    margin-top: -10px;
    width: 2px;
}

.hero-arrow:after {
    transform: rotate(45deg) translateX(-4px) translateY(-5px);
    -webkit-transform: rotate(45deg) translateX(-4px) translateY(-5px);
    -moz-transform: rotate(45deg) translateX(-4px) translateY(-5px);
    -ms-transform: rotate(45deg) translateX(-4px) translateY(-5px);
    -o-transform: rotate(45deg) translateX(-4px) translateY(-5px);
}

.hero-arrow {
    display: inline-block;
    position: absolute;
    vertical-align: baseline;
    line-height: 45px;
    trasform:rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    bottom: 25px;
    /*right: 50%;*/
    left: 50%;
    margin-left: -15px;
    
    /*-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  
  -webkit-animation: hero-down-anim 1s infinite;
    -moz-animation: hero-down-anim 1s infinite;
    -o-animation: hero-down-anim 1s infinite;
    animation: hero-down-anim 1s infinite; */
}

.more-nav {
    height: 90px;
    position: relative;
    width: 100%;
}
.more-nav a:hover {
  color: #181818;
  cursor: pointer;
}
.more-nav a:not(.next-prev) {
    border: 0 none;
    display: block;
    /*font-weight: 500;*/
    line-height: 90px;
    padding-left: 4.16%;
}
.more-nav.load-more a:after {
    content: "+";
    font-size: 2.15rem;
    position: absolute;
    right: 4.16%;
    top: 50%;
    transform: translateY(-50%);
}
.projects-hidden{
  display: none;
}
.more-nav-2 {
    height: 90px;
    position: relative;
    width: 100%;
}
.more-nav-2 a:hover {
  color: #181818;
  cursor: pointer;
}
.more-nav-2 a:not(.next-prev) {
    border: 0 none;
    display: block;
    /*font-weight: 500;*/
    line-height: 90px;
    padding-left: 4.16%;
}
.more-nav-2.load-more-2 a:after {
    content: "+";
    font-size: 2.15rem;
    position: absolute;
    right: 4.16%;
    top: 50%;
    transform: translateY(-50%);
}
.projects-hidden-2{
  display: none;
}
.project-button ul {
  display: table;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
    position: relative;
}
.project-button ul li {
  display: table-cell;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  width: 33%;
}
.project-button p {
  font-size: 56px;
  font-weight: 100;
  margin: 0;
}
.project-button h4 {
  margin: 0;
    font-weight: bold;
    color: #fff;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}
li.next-button {
  background: #2985f4;
}
li.last-button {
  background: #2c3e50;
  /*background: #34495e;*/
}
.project-button ul li > a {
  padding: 35px 55px;
  display: block;
  /*text-align: center;*/
}
li.next-button a {
  color: #fff;
    position: relative;
}
li.last-button a {
  color: #fff;
    position: relative;
}
li.next-button:hover {
  background: #34495e;
  /*background: #2c3e50;*/
}
li.last-button:hover {
  background: #34495e;
  /*background: #2c3e50;*/
}

/*.revealOnScroll {
  opacity: 0;
}*/

/* -------------------------------- 

Main Components 

-------------------------------- */
.burns-wrapper {
  background-color: #001426;
  position: relative;
  overflow: hidden;
}
.no-touch .burns-wrapper {
  -webkit-perspective: 4000px;
  -moz-perspective: 4000px;
  perspective: 4000px;
}
.burns-wrapper::before {
  /* never visible - this is used in jQuery to check the device type */
  content: 'web';
  display: none;
}
.touch .burns-wrapper::before {
  /* never visible - this is used in jQuery to check the device type */
  content: 'mobile';
}

.burns-floating {
  position: relative;
}
.burns-floating img {
  display: block;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fixes a Firefox bug - images not correctly rendered*/
  background-color: rgba(255, 255, 255, 0.01);
}
.burns-floating img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.no-touch .burns-floating {
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.no-touch .burns-floating.is-absolute {
  position: absolute;
}
.no-touch .burns-floating img:first-child {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
}
.no-touch .burns-floating img:nth-child(2) {
  -webkit-transform: translateZ(290px);
  -moz-transform: translateZ(290px);
  -ms-transform: translateZ(290px);
  -o-transform: translateZ(290px);
  transform: translateZ(290px);
}
.no-touch .burns-floating img:nth-child(3) {
  -webkit-transform: translateZ(400px);
  -moz-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  -o-transform: translateZ(400px);
  transform: translateZ(400px);
}
.no-touch.no-preserve-3d .burns-floating {
  /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
  position: relative;
}

#gif {
  position: relative;
  margin: auto;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/view-more/project.gif');
}

#gif a {
  height: 100%;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 56px;
  font-weight: 100;
  margin: 0;
  color: #fff;
  line-height: 250px;
  transition: all 0.3s ease 0s;
}

#posts {
    /*margin-top: -12rem;*/
    overflow: hidden;
    /*padding-top: 24rem;*/
    text-align: center;
    z-index: 10;
}

.post {
  margin: 20px;
    display: inline-block;
    line-height: 0;
    position: relative;
    vertical-align: bottom;
}

.is-a img {
    max-height: 660px;
    max-width: 660px;
}

.post-adjustment {
    margin-right: -4px;
}

.post-relative {
    overflow: hidden;
    position: relative;
}

.post-relative img {
    cursor: move !important;
}

/* ANIMATIONS YO */
/*.animations .effects .come-in {
  -webkit-animation: slide 0.35s ease-out forwards;
  animation: slide 0.35s ease-out forwards;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}*/

.animations .effects {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}

section.wireframes {
  margin: 0 auto;
  width: 100%;
  display: block;
  padding: 75px 0;
  background-color: #fafafa;
}

section.wireframes .wire-container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

section.wireframes .wire-container .wire-inner {

}

section.wireframes .wire-container .wire-inner .wired img {
  width: 100%;
  display: block;
}

section.wireframes .wire-container .wire-inner .wired-text {
  position: absolute;
  max-width: 600px;
  margin-top: -400px; 
}

section.wireframes .wire-container .wire-inner .wired-text h2 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
section.wireframes .wire-container .wire-inner .wired-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #b6b6b6;
}

section.wireframes .wire-container .wire-inner .wired-text span.wired-rectangle {
  width: 675px;
  height: 120px;
  background: #39c6f4;
  opacity: 0.2;
  display: block;
  position: absolute;
  margin-top: -125px; 
  margin-left: -50px;
}
@media screen and (max-width: 1190px) {
  .grid li {
    width: 20%; /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
  }
  .grid-width {
      max-width: 350px;
  }
  .responsive-text {
    display: none;
  }
}

@media screen and (max-width: 945px) {
  .grid li {
    width: 25%; /* Fallback */
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
  }
  .banner-content{
    color: #ffffff;
    position: relative;
    top: 25%; 
      left: 0; 
      max-width: 100%; 
      padding: 30px;
      margin-left: 0%;
      line-height: 30px;
  }
  .info-container {
      margin: 0 auto;
      max-width: 800px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 25px;
  }
  .projects img {
      margin-top: 15px;
      width: 100%;
  }
  .grid-last {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100% !important;
  }
  section.feature .feature-container {
    padding-left: 35px;
      padding-right: 35px;
  }
  section.feature .feature .feature-img-container {
    width: 50%;
    left: 50%;
  }
  /*.grid-width {
      width: 50%;
  }*/
}

@media screen and (max-width: 768px) {
  .menu {
    width: 65%;
  }
  .menu ul {
    padding-top: 85px;
  }
  .svg-container {
    display: none;
  }
  .png-new {
    display: block;
  }
  .png-header {
    width: 100%;
  }
  .full-width {
    width: 100%;
      background-repeat:no-repeat;
      background-position:50% 50%;
      background-position:50% 50%\9 !important;
      background-size: cover;
  }
  .project-button p {
    font-size: 24px;
  }
  section.feature .feature .feature-img-container {
    width: 50%;
    left: 50%;
  }
  .middle-info {

  }

  .is-a img {
      max-height: 660px;
      max-width: 660px;
      width:100%;
      padding: 20px;
  }

  .post {
      display: inline-block;
      line-height: 0;
      margin: 20px 0;
      position: relative;
      vertical-align: bottom;
  }
  
  .post-adjustment {
      margin-right: 0px;
  }

  .work-item {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .grid li {
    width: 100%;
  }
  .bg-content h1 {
    display: none;
  }
  .gallery-grid li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%; /* Fallback */
    width: -webkit-calc(100% / 1);
    width: -moz-calc(100% / 1);
    width: -ms-calc(100% / 1);
    width: calc(100% / 1);
  }
  section.feature .feature .feature-img-container {
    width: 100%;
    left: 0;
  }

  .middle-info {
    display: none;
  }

  .hero-arrow {
    display: none;
  }
    
    .full-home,
    .bg-content {
        width:100%;
        min-height:100%;
    }
}


@media screen and (max-width: 400px) {
  .grid li {
    width: 50%; /* Fallback */
    width: -webkit-calc(100% / 1);
    width: calc(100% / 1);
  }
  button{
    width: 75%;
    margin:10px 0;
  }
  .project-nav {
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
  }
  .info-container {
      padding-left: 15px;
      padding-right: 15px;
  }
  .info-container-img {
      padding: 0 15px;
  }
  .swipe .nav {
    display: none;
  }
/*  .middle-info {
      padding-top: 10px;
  }*/
  .grid{
    margin-top: 15px;
  }
  /*.info-container p{
    text-align: center;
  }*/
  .swipe .nav {
    display: none;
  }
  .slider-content{
  display: none;
  }
  .slider-content h2{
    display: none;
  }
  .slider-content h5{
    display: none;
  }
  .button-slide{
    display: none;
  }
  .button-slide:hover{
      display: none;
  }
  .footer-nav {
    display: none;
  }
  
  .bg-inner-content {
    top: 30%;
  }
  .full-width {
    width: 100%;
      background-repeat:no-repeat;
      background-position:50% 50%;
      background-position:50% 50%\9 !important;
      background-size: cover;
  }
  .project-button ul li > a {
      padding: 15px;
  }
  section.feature .feature {
      height: 300px;
      position: relative;
      transition: opacity 1s ease 0s;
  }
  section.feature .feature-container {
      display: none;
  }

  .middle-info {
    padding: 75px 0;
    display: block;
  }

  .icon-home {
    width: 100%;
  }
  
  .home-img {
    height:50%;
    width: 25%;
    margin: 15px;
    float:left;
  }
  .project-caption {
      padding: 75px 15px;
  }
}

@media screen and (max-width: 300px) {
  .grid li {
    width: 100%;
  }
  .info-container {
      margin: 0 auto;
      max-width: 800px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
  }
/*  .middle-info {
      padding-top: 10px;
  }*/
  button{
    width: 100%;
  }
  .swipe .nav {
    display: none;
  }
  .slider-content{
    display: none;
  }
  .slider-content h2{
    display: none;
  }
  .slider-content h5{
    display: none;
  }
  .button-slide{
    display: none;
  }
  .button-slide:hover{
      display: none;
  }
  .footer-nav {
    display: none;
  }
}
/* -------------------------------- 

Main Components 

-------------------------------- */
span {
    color: #fff;
}
.header-bg {
    /*background: rgba(52, 73, 94,1.0);*/
    background: rgba(255,255,255,1.0);
    /*background: white;*/
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.header {
    color: #fff;
    height: 55px;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    padding: 15px;
}
.header h1 {
    color: #fff;
    float: left;
    font-size: 1.1em;
    margin: 4px 0 0 auto;
    font-weight: 300;
    line-height: 1em;
}
.header .inner {
    margin: 0 auto;
}
.hidden {
    display: none;
}
.show-hide {
    color: #34495e;
    right: 25px;
}
.menu {
    position: fixed;
    top: 0;
    right: -50px;
    z-index: 10;
    width: 40%;
    height: 100%;
    background-color: #34495e;
    transition: height 0.3s ease-in-out 0s;
}
.menu ul {
    list-style: none;
    margin: 0 auto;
    padding-top: 8em;
    padding-bottom: 1.25em;
    padding-left: 0px;
    width: 100%;
}
.menu li a {
    display: block;
    padding: 10px 80px;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.5em;
    font-weight: 100;
    transition: background 0s ease 0s, all 500ms ease 0s;
    /*border-bottom: 1px solid #2980b9;*/
    width: 500px;
}
.menu li a:hover {
    /*background-color: #2980b9;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    color: #2985f4;
    cursor: pointer;
}
.menu li a span {
    font-size: 14px;
    font-weight: bold;
}
.menu h2 {
    font-weight: 100;
    margin: 0 auto;
    padding: 1em;
    color: #2980b9;
    font-size: 2.5em;
    border-bottom: 1px solid #2980b9;
}
.menu p {
    color: #fff;
    font-weight: 100;
}
.bottom-nav {
    /*padding-top: 21%;*/
    color: #ecf0f1;
    font-size: 0.8em;
    padding: 10px 80px;
    width: 400px;
}
.bottom-nav .info {
    display: block;
}
.bottom-nav .info .social a {
    display: inline-block;
    margin-right: 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.bottom-nav .info .social a span {
    background: #2c3e50 none repeat scroll 0 0;
    border-radius: 100%;
    color: white;
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: background 0s ease 0s, all 500ms ease 0s;
    width: 30px;
}
.bottom-nav .info .social a:last-child {
    margin-right: 0;
}
.bottom-nav .info .social a:hover span {
    background: #2270cf;
    color: white;
}
.icons a {
    padding: .5em;
    overflow: hidden;
}
.icons a img {
    border:1px solid #ecf0f1;
    border-radius: 50%;
    width: 30px;
}
.icons a:hover img {
    border:1px solid #2985f4;
    border-radius: 50%;
    width: 30px;
}
.menu li a.guide-link {
    font-size: 1.5em; 
}
header.header-nav { padding: 15px; position: relative; clear: after;}

a.brand {
    color: #fff;
    float: left;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    margin: 4px 0 0 auto;
}

#nav-toggle { position: absolute; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; z-index: 100;}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  -ms-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color:#2c3e50;
}
#nav-toggle.active span:after {
  -ms-transform: translateY(-10px) rotate(-45deg);
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
  background-color:#2c3e50;
}

#nav-toggle.scroll span, #nav-toggle.scroll span:before, #nav-toggle.scroll span:after {
  background: #2c3e50;
}
#nav-toggle.white span {
  background: none;
}

/* -------------------------------- 

Video Header Styles

-------------------------------- */






.bottom-bar {
    background: #f1f1f1 none repeat scroll 0 0;
    height: 65px;
    position: relative;
}
.bottom-bar a.bar-icon {
    color: #e1e1e1;
    line-height: 65px;
    margin: 0 1.5em;
    font-size: 1.5em;
}
.bottom-bar a.bar-icon.icon-left {
    left: 50%;
    position: absolute;
}
.bottom-bar a.bar-icon.icon-center {
    left: 50%;
    position: absolute;
    margin: 0 auto;
    margin-left: -0.5em;
}
.bottom-bar a.bar-icon.icon-right {
    right: 0;
    position: absolute;
}
.bottom-bar a.bar-icon:hover {
    color: #fff;
}



/*==============  media  ==============*/

@media screen and (max-width: 1024px) {
    button, .button:last-child {
        margin-left: 0;
    }
    .footer-inner .grid-3 {
        width: 100%;
        text-align: center;
    }
    .footer-inner .grid-6 {
        width: 100%;
        text-align: center;
        margin-top: 1.5em;
    }
    .footer .social {
        text-align: center;
        margin-top: 3em;
    }
    .footer ul li {
        display: block;
        margin-right: 0;
    }
    .proj {
        margin-bottom: 1.25rem;
    }
}

@media screen and (max-width: 945px) {
    #hero {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        background-image: url('../img/courses-banner.jpg');
        background-position: 50% 50%;
        background-position: 50% 50%\9 !important;
        background-size: cover;
    }
    .small-banner {
        display: block;
        
    }
    #video {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .menu {
        width: 65%;
        padding-left: 30px;
    }
    .menu ul {
        padding-top: 85px;
    }
    a.brand {
        color: #181818 !important;
    }
    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #2c3e50;
        position: absolute;
        display: block;
        content: '';
    }
    .header {
        background: white !important;
    }
    .header h1 {
        color: #2c3e50 !important;
    }
    .menu li a {
        font-size: 2.5em;
        padding: 10px 30px;
    }
    .bottom-nav {
        padding: 10px 30px;
    }
    .textarea-intro img {
        max-width: 75%;
    }
    .bg-inner-content {
        padding: 0 1em;
    }
}

@media screen and (max-width: 660px) {
    .menu {
        width: 100%;
        padding-left: 0px;
        right: 0;
    }
    /*.arrow{
        display: none;
    }*/
    .menu ul {
        padding-top: 85px;
    }
    .scroll {

    }
    .menu li a {
        font-size: 2.5em;
        padding: 10px 30px;
    }
    .bottom-nav {
        padding: 10px 30px;
    }
    .textarea-intro img {
        max-width: 100%;
        text-decoration: none;
    }
    .grid-6 {
        width: 100%; 
    }
    .h-textarea {
        top: 100px;
    }
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 300px) {

}
