{% if page.title == '100 Line Icons: TylerBrooksDesigns' %}
    <meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="100 Line Icons" />
	<meta property="og:description" content="Designed for TylerBrooksDesigns.com. You are free to use for personal or commercial purposes, to share or to modify it. Please do not sub-license, resell or rent it." />
	<meta property="og:url" content="http://tylerbrooksdesigns.com/projects/100-icons/" />
	<meta property="og:site_name" content="Tyler Brooks Designs" />
	<meta property="og:image" content="http://www.tylerbrooksdesigns.com/img/fb-og/100-icons.jpg" />
{% endif %}

{% if page.title == 'Icon Font: TylerBrooksDesigns' %}
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="100 Free Web and App UI Icons" />
	<meta property="og:description" content="Designed for TylerBrooksDesigns.com. You are free to use for personal or commercial purposes, to share or to modify it. Please do not sub-license, resell or rent it." />
	<meta property="og:url" content="http://tylerbrooksdesigns.com/projects/icon-font/" />
	<meta property="og:site_name" content="Tyler Brooks Designs" />
	<meta property="og:image" content="http://www.tylerbrooksdesigns.com/img/fb-og/icon-font.jpg" />
{% endif %}

{% if page.title == '100 Free Icons: TylerBrooksDesigns' %}
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="100 Annual Report Icons" />
	<meta property="og:description" content="Designed for TylerBrooksDesigns.com. You are free to use for personal or commercial purposes, to share or to modify it. Please do not sub-license, resell or rent it." />
	<meta property="og:url" content="http://tylerbrooksdesigns.com/projects/free-icons/" />
	<meta property="og:site_name" content="Tyler Brooks Designs" />
	<meta property="og:image" content="http://www.tylerbrooksdesigns.com/img/fb-og/free-icons.jpg" />
{% endif %}

{% if page.title == 'Free Social Media Icons: TylerBrooksDesigns' %}
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Free Social Media Icons" />
	<meta property="og:description" content="Created for TylerBrooksDesigns.com. You are free to use for personal or commercial purposes, to share or to modify it." />
	<meta property="og:url" content="http://tylerbrooksdesigns.com/projects/social-media-icons/" />
	<meta property="og:site_name" content="Tyler Brooks Designs" />
	<meta property="og:image" content="http://www.tylerbrooksdesigns.com/img/fb-og/social.jpg" />
{% endif %}

{% if page.title == 'Free Browser Download: TylerBrooksDesigns' %}
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Free Minimal Browser Mockup" />
	<meta property="og:description" content="A minimal browser mock up you can use to showcase your website. Free Photoshop and Illustrator download package created and released by TylerBrooksDesigns.com." />
	<meta property="og:url" content="http://tylerbrooksdesigns.com/projects/browser/" />
	<meta property="og:site_name" content="Tyler Brooks Designs" />
	<meta property="og:image" content="http://www.tylerbrooksdesigns.com/img/fb-og/browser.jpg" />
{% endif %}
