{% if page.title == 'Tyler Brooks Designs' %}
    <section class="sharing-container">
        <div class="sharing-container-inner">
            <div class="fb-share-button" data-href="http://tylerbrooksdesigns.com/" data-layout="button_count"></div>
            <div class="g-plus plus" data-action="share" data-annotation="bubble" data-href="http://tylerbrooksdesigns.com/"> </div>
            <div><a class="twitter-share-button" data-hashtags="tylerbrooksdesigns" data-text="FREE Design Resources / Portfolio" data-url="http://goo.gl/UCmeXP" data-via="brooksrelyt" href="https://twitter.com/share">Tweet</a></div>
        </div>
    </section>
{% endif %}

{% if page.title == '100 Line Icons: TylerBrooksDesigns' %}
    <section class="sharing-container">
        <div class="sharing-container-inner">
            <div class="fb-share-button" data-href="http://tylerbrooksdesigns.com/projects/100-icons/" data-layout="button_count"> </div>
            <div class="g-plus plus" data-action="share" data-annotation="bubble" data-href="http://tylerbrooksdesigns.com/projects/100-icons/"> </div>
            <div><a class="twitter-share-button" data-hashtags="tylerbrooksdesigns" data-text="100 Line Icons" data-url="http://goo.gl/gpLz4w" data-via="brooksrelyt" href="https://twitter.com/share">Tweet</a></div>
        </div>
    </section>
{% endif %}

{% if page.title == '100 Free Icons: TylerBrooksDesigns' %}
    <section class="sharing-container">
            <div class="sharing-container-inner">
                <div class="fb-share-button" data-href="http://tylerbrooksdesigns.com/projects/free-icons/" data-layout="button_count"> </div>
                <div class="g-plus plus" data-action="share" data-annotation="bubble" data-href="http://tylerbrooksdesigns.com/projects/free-icons/"> </div>
                <div><a class="twitter-share-button" data-hashtags="tylerbrooksdesigns" data-text="100 Free Annual Report Icons" data-url="http://bit.ly/1Jicesd" data-via="brooksrelyt" href="https://twitter.com/share">Tweet</a></div>
            </div>
        </section>
{% endif %}

{% if page.title == 'Icon Font: TylerBrooksDesigns' %}
    <section class="sharing-container">
        <div class="sharing-container-inner">
            <div class="fb-share-button" data-href="http://tylerbrooksdesigns.com/projects/icon-font/" data-layout="button_count"> </div>
            <div class="g-plus plus" data-action="share" data-annotation="bubble" data-href="http://tylerbrooksdesigns.com/projects/icon-font/"> </div>
            <div><a class="twitter-share-button" data-hashtags="tylerbrooksdesigns" data-text="100 Free Office Icons" data-url="http://goo.gl/efXGSI" data-via="brooksrelyt" href="https://twitter.com/share">Tweet</a></div>
        </div>
    </section>
{% endif %}