<div id="preloader"><div><img src="{{ site.baseurl }}/img/preloader.gif" id="preloader_image" alt="preloader image"></div></div>
    <header class="header" role="banner">
        <div class="nav">
            <a id="nav-toggle" class="show-hide"><span></span></a>
            <a class="brand" href="{{ site.baseurl }}/"><b>TYLER BROOKS</b> | DESIGNS</a>
        </div>
        <nav class="hidden menu" id="menu" role="navigation">
            <ul>
                <li><a href="{{ site.baseurl }}/projects/" title="View projects"><span>01.</span> Showcase</a></li>
                <li><a href="{{ site.baseurl }}/about/" title="About Me"><span>02.</span> About</a></li>
                <li><a href="{{ site.baseurl }}/contact/" title="Contact Me"><span>03.</span> Contact</a></li>
            </ul>
            <section class="bottom-nav" role="complementary">
                <div class="info">
                    <header>
                        <p>Web + Design + Development</p>   
                    </header>
                    <div class="social">
                        <a target="_blank" href="https://www.instagram.com/brooksrelyt/"><span class="icon-instagram"></span></a>
                        <a target="_blank" href="http://codepen.io/brooksrelyt/"><span class="icon-codepen2"></span></a>
                        <a target="_blank" href="http://www.linkedin.com/pub/tyler-brooks/68/4a9/a4b"><span class="icon-linkedin2"></span></a>
                        <a target="_blank" href="http://www.behance.net/TylerBrooksDesigns"><span class="icon-behance"></span></a>
                    </div>
                </div>
            </section>
        </nav>
    </header>