.footer {
    color: #707070;
    font-size: 15px;
    line-height: 30px;
    padding: 130px 0;

    p {
        line-height: 1;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            margin-right: 30px;

            a {
                font-size: 12px;
                letter-spacing: 2px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                /*transition: color 300ms ease 0s, border 300ms ease 0s;*/

                span {
                    color: $gray;
                    margin-right: 10px;
                }
            }
        }
    }

    .footer-inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 1260px;
        position: relative;

        &::after {
            clear: both;
            content: " ";
            display: block;
        }
    }
}

.footer .social {
    text-align: right;
}
.footer .social a {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.footer .social a span {
    background: #2985f4 none repeat scroll 0 0;
    border-radius: 100%;
    color: white;
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: background 0s ease 0s, all 500ms ease 0s;
    width: 30px;
}
.footer .social a:last-child {
    margin-right: 0;
}
.footer .social a:hover span {
    background: #2270cf;
    color: white;
}
.sharing-container {
    bottom: -80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1260px;
    position: relative;
}
.sharing-container-inner {
    bottom: 0;
    float: right;
    margin: 5px;
    vertical-align: top;
}
.sharing-container-inner div {
    display: inline-block;
    margin: 0 10px !important;
    vertical-align: top;
}
.fb-share-button > span {
  vertical-align: top !important;
}