footer {
	.umd-logo {
		text-align: center;
		margin: 0 auto;
	}

	.menu-centered {
	    text-align: center;

	    .menu {
	    	display: inline-block;
	    }
	}

	.footer-inner {
		padding-top: 2.5rem;
		margin-top: 2.5rem;
		border-top: 3px solid $umd_midgray;

		.menu-centered {
			text-align: center;

			.menu {
				list-style-type: none;
			    margin: 0;
			    display: inline-block;
			}

		}

		p {
			font-size: 90%;
			margin-left: 3rem;
		}
	}

	.social {


		.menu {
			padding-left: 0;
			margin: 0 auto;
			display: inline-block;
			width: 100%;

			@include breakpoint(screen-md) { text-align: center; }
			@include breakpoint(screen-sm) { text-align: center; }
			@include breakpoint(screen-xs) { text-align: center; }

			li {
				padding: 0.7rem 1rem;
				width: 25%;

				@include breakpoint(screen-xl) { display: inline-block; }
				@include breakpoint(screen-lg) { display: inline-block; }
				@include breakpoint(screen-md) { display: inline-block; width: 22%; }
				@include breakpoint(screen-sm) { display: inline-block; width: 22%; }
				@include breakpoint(screen-xs) { display: inline-block; width: 22%; }

				a {
					color: #BDBDBD;
					font-size: 26px;
					line-height: 34px;
					width: 100%;
					display: block;
					text-align: center;

					&:hover, &:focus {
						color: $umd_red;
					}
				}
			}
		}

		.navbar-nav {
			float: none !important;

			
			@include breakpoint(screen-xl) { float: none !important; }
			@include breakpoint(screen-lg) { float: none !important; }
			@include breakpoint(screen-md) { padding: 0; }
			@include breakpoint(screen-sm) { padding: 0; }
			@include breakpoint(screen-xs) { padding: 0; }
		}
	}

	.navbar-bottom {
	    margin: 0.5rem 0;
	    width: 100%;

	    .navbar-nav {
	        width: 100%;
	        text-align: center;
	        padding: 0;
	        font-size: 13px;

	        a {
	            color: $umd_gray;
	            text-decoration: none;
	            list-style-type: none;
	            text-transform: uppercase;
	            letter-spacing: 1px;

	            &:hover {
	                text-decoration: underline;
	            }

	        }

	        > li {
	            float: none;
	            display: inline-block;
	        }

	        > li + li {
	            margin-left: 3rem;

	            &:before {
	                content: "/";
	                color: $umd_red;
	                margin-right: 3rem;
	                display:inline-block;
	            }
	        }
	    }
	}
}

.footer-img {
	margin: 0 auto;
	display: block;

	@include breakpoint(screen-md) { margin-bottom: 2rem; }
	@include breakpoint(screen-sm) { margin-bottom: 2rem; }
	@include breakpoint(screen-xs) { margin-bottom: 2rem; }
}
p.footer-info {
	@include breakpoint(screen-md) { text-align: center; margin-left: 0 !important; }
	@include breakpoint(screen-sm) { text-align: center; margin-left: 0 !important; }
	@include breakpoint(screen-xs) { text-align: center; margin-left: 0 !important; }
}