.hidden {
    display: none;
}

.show-hide {
    color: #34495e;
    right: 25px;
}

.header-bg {
    /*background: rgba(52, 73, 94,1.0);*/
    background: rgba(255,255,255,1.0);
    /*background: white;*/
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

a.brand {
    color: #fff;
    float: left;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    margin: 4px 0 0 auto;
}

#nav-toggle { 
    position: absolute; 
    cursor: pointer; 
    padding: 10px 35px 16px 0px; 
    z-index: 100;

    & span, & span:before, & span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
    }

    & span:before {
        top: -10px; 
    }
    & span:after {
        bottom: -10px;
    }

    & span, & span:before, & span:after {
        -ms-transition: all 500ms ease-in-out;
        -webkit-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }

    &.active span {
        background-color: transparent;
    }
    &.active span:before, &.active span:after {
        top: 0;
    }
    &.active span:before {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color:#2c3e50;
    }
    &.active span:after {
        -ms-transform: translateY(-10px) rotate(-45deg);
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
        top: 10px;
        background-color:#2c3e50;
    }

    &.scroll span, &.scroll span:before, &.scroll span:after {
        background: #2c3e50;
    }
    &.white span {
        background: none;
    }
}

.header {
    color: #fff;
    height: 55px;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    padding: 15px;

    h1 {
        color: #fff;
        float: left;
        font-size: 1.1em;
        margin: 4px 0 0 auto;
        font-weight: 300;
        line-height: 1em;
    }
}

.menu {
    position: fixed;
    top: 0;
    right: -50px;
    z-index: 10;
    width: 40%;
    height: 100%;
    background-color: #34495e;
    transition: height 0.3s ease-in-out 0s;

    @include breakpoint(screen-lg) {
        width: 50%;
        padding-left: 30px;
    }
    
    @include breakpoint(screen-md) {
        width: 65%;
        padding-left: 30px;
    }

    @include breakpoint(screen-sm) {
        width: 100%;
        padding-left: 0px;
        right: 0;
    }

    p {
        color: #fff;
        font-weight: 100;
    }

    ul {
        list-style: none;
        margin: 0 auto;
        padding-top: 8em;
        padding-bottom: 1.25em;
        padding-left: 0px;
        width: 100%;

        @include breakpoint(screen-md) {
            padding-top: 85px;
            text-align: center;
        }

        li {
            a {
                display: block;
                padding: 10px 80px;
                outline: none;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 2.5em;
                font-weight: 100;
                transition: background 0s ease 0s, all 500ms ease 0s;
                // max-width: 500px;
                position: relative;

                @include breakpoint(screen-lg) {
                    font-size: 34px;
                    padding: 10px 30px;
                }

                &:hover {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 100;
                    color: $cool_blue;
                    cursor: pointer;
                }

                span {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}

.bottom-nav {
    color: #ecf0f1;
    font-size: 0.8em;
    padding: 10px 80px;
    width: 400px;

    @include breakpoint(screen-lg) {
        padding: 10px 30px;
    }

    .info {
        display: block;

        .social {
            a {
                display: inline-block;
                margin-right: 1em;
                position: relative;
                text-align: center;
                text-decoration: none;

                span {
                    background: #2c3e50 none repeat scroll 0 0;
                    border-radius: 100%;
                    color: white;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    transition: background 0s ease 0s, all 500ms ease 0s;
                    width: 30px;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover span {
                    background: #2270cf;
                    color: white;
                }
            }
        }
    }
}

















