.module {
    position: relative;
}
.come-in {
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);

    -webkit-animation: come-in 1s ease forwards;
    -moz-animation: come-in 1s ease forwards;
    -ms-animation: come-in 1s ease forwards;
    animation: come-in 1s ease forwards;

    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.come-in:nth-child(odd) {
    -webkit-animation-duration: 0.6s; /* So they look staggered */
    -moz-animation-duration: 0.6s;
    -ms-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

@-webkit-keyframes come-in {
    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
} 

@keyframes come-in {
    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}