<!DOCTYPE html>
<html lang="en" class="no-js">
    
    {% include head.html %}

<body>
    
    {% include header.html %}

    <div class="not-full bg parallax" style="background-image:url('{{ site.baseurl }}{{ page.banner }}');" data-img-width="1450" data-img-height="683" data-diff="100">
        <div class="bg-content">
            <div class="bg-inner-content">
                <img class="fadeInDown" itemprop="image" src="{{ site.baseurl }}{{ page.banner_inner }}" alt="{{ site.baseurl }}{{ page.banner_inner_alt }}">
            </div>
        </div>
    </div>

    <div class="center-button"><a href="#work" class="down-arrow-btn"><span class="arrow-work"></span></a></div>
    
    <main id="container" class="container" role="main"">
        
        <section class="row spaces"  id="about work" role="article">
            <div class="column">
                <div class="grid-12 no-pad columns">
                    <div class="grid-3 no-pad columns proj fadeInDown2">
                        <dl class="clearfix">
                            <dt>Freebie:</dt>
                            <dd>100 Free Annual Report Icons</dd>
                            <dt>File Type:</dt>
                            <dd>SVG &#8226 AI &#8226 EPS &#8226 PNG</dd>
                            <dt>Download:</dt>
                            <dd>1,470+</dd>
                            <dt>Like it:</dt>
                            <dd><a href="https://www.behance.net/gallery/35340249/100-Line-Icons">Behance</a></dd>
                        </dl>
                        <hr>
                        <a href="https://www.dropbox.com/s/c5lvmeegk71iosy/100-icons-download.zip?dl=0" class="slide-link" onclick=”ga(‘send’, ‘event’, ‘ZIP’, ‘Download’, ‘Font/Office Icons’);“>Download Now</a>
                    </div>
                    <div class="grid-8 grid-offset-1 no-pad columns fadeInDown3">
                        <p>This 100 Line Icons set is designed for TylerBrooksDesigns.com. This set is collection of vector icons available in these formats: <b>SVG / AI / EPS / PNG</b>. You are free to use for personal or commercial purposes, to share or to modify it. Please do not sub-license, resell or rent it.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="project-container" itemprop="exampleOfWork">
            <ul class="gallery-grid">
                <li><img class="module" itemprop="image" src="../../img/100-icons/principles.gif" alt="tylerbrooksdesigns icons small selection of icons"></li>
                <li><img class="module" itemprop="image" src="../../img/100-icons/palette.gif" alt="project color system"></li>
                <li><img class="module" itemprop="image" src="../../img/100-icons/stroke.gif" alt="object system"></li>
            </ul>
            <div style="clear:both;"></div>
            <img class="module" src="../../img/100-icons/icon-set.gif" alt="Icon Designs used on tylerbrooksdesigns webpage"/>
            <img class="module" src="../../img/100-icons/column-large.gif" alt="Icon Designs used on tylerbrooksdesigns webpage"/>
        </section>
<!--        <section style="background-color: #f1f1f1;"  id="waddup">
            <div class="row spaces">
                <div class="center grid-6 large-centered column module">
                    <h3 class="center uppercase">Downloads</h3>
                    <br>
                    <p>Download the Annual Report icon set for free by clicking one of the options below. You are free to use for personal or commercial purposes, to share or to modify it.</p>
                    <br>
                </div>
                <div class="center grid-12 large-centered column module">
                    <a href="https://www.dropbox.com/s/zsqtxkqyp8u1ctz/tbd-part-2-icons.zip?dl=0" class="round button special">SVG/AI Download</a>
                    <a href="https://www.dropbox.com/s/v7d7bc6barjqhua/tbd-part-2-all.zip?dl=0" class="outline round button special" onclick=”ga(‘send’, ‘event’, ‘ZIP’, ‘Download’, ‘Font/Office Icons’);“>SVG/AI/FONT Download</a>
                </div>
            </div>
        </section> -->

        <section class="bottom-bar">
            <a class="bar-icon" href="../../about/"><i class="icon-avatar"></i></a>
            <a class="bar-icon icon-center" href="//tylerbrooksdesigns.com"><i class="icon-th"></i></a>
            <a class="bar-icon icon-right" href="../imnicksouza/"><i class="icon-arrow-right"></i></a>
        </section>
    </main>

    {% include footer.html %}

</body>
</html>
